@{
    ViewData["Title"] = "Home Page";
}
@{
    var base64 = ViewData["Code"] as string;
    // var names = ViewData["Names"] as List<string>;
}


<div class="text-center">
    <h1 class="display-4">Welcome My Docker</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<iframe src="data:application/pdf;base64,@base64"></iframe>
@* @foreach (var item in names) *@
@* { *@
@*     <h3>@item</h3> *@
@* } *@