@{
    ViewData["Title"] = "Home Page";
}
@{
    var base64 = ViewData["Code"] as string;
    // var names = ViewData["Names"] as List<string>;
}


<div class="text-center">
    <h1 class="display-4">Welcome My Docker</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<h1>Địt con mẹ mày con lợn xxxxx lòn cha mày lòn cẹt xx chiem sẽ</h1>
<h1>con cac tra tien cho tao</h1>
<h2>deptrai moi co nhieu dua uyue</h2>
@* <iframe src="data:application/pdf;base64,@base64"></iframe> *@


@* @foreach (var item in names) *@
@* { *@
@*     <h3>@item</h3> *@
@* } *@